/*
!.vscode
!docs
!libs
!plugins
!.dockerignore
!.gitattributes
!.gitignore
!.npmignore
!decktape.js
!Dockerfile
!package.json
!npm-shrinkwrap.json
!README.adoc
!test/
test/output/

# Snapshot screenshots are regenerated based on the snapshot pdf
test/e2e.spec.ts-snapshots

!playwright.config.ts
!.github/
